.app {
  height: 75vh;
  width: 50vw;
  background-color:rgb(250, 233, 233);
  position: absolute;
  top: 13vh;
  left: calc(50% - 25vw);
  overflow: auto;
  border: 2px solid black;
  border-radius: 10px;
}

input {
  width: 36vw;
  height: 5vh;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 2px solid gray;
  margin-top: 10px;
}
